    <h3>Proyecto creado por <%= autor %></h3>
    <p><img src="images/juancmar.jpg"></p>
  
    <p><video width="320" height="240" controls>
			<source src="images/bbb.mp4" type="video/mp4">
			<source src="images/bbb.ogg" type="video/ogg">
			Your browser does not support the video tag.
		</video> 
	</p>
	 <p>Video cortesia de Big Buck Bunny</p>
